*{
    margin: 0;
    padding: 0;
    color: white;
}
body{
    background:
    radial-gradient(circle at center,
    #222222,
    #111111 45%,
    #000000 100%);
}
.header-section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;  
    background:
    radial-gradient(circle at top,
    rgba(255,255,255,0.08),
    transparent 30%),

    linear-gradient(
        to bottom,
        #050505,
        #0d0d0d,
        #161616,
        #050505
    );
    height : 70px ;
}

.header-nav{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 500px;
}
.nav-tag{
    font-size: 19px;
    cursor: pointer;
    text-align: center;
    padding: 5px; 
    margin-right: 10px;
}
.nav-tag:hover{
    background-color: #272c9a;
    border-radius: 5px;
}
.nav-tag:active{
    background-color: #272c9a;
    border-radius: 5px;
}
.join-btn{
    background-color: #00fff7;
    border: none;
    color: black;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    font-size: 17px;
    padding: 7px 15px;
}
.join-btn:hover{
    background-color: #fc6c0d;
}
.s1{
    background-image: url(Images/1.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    height: 700px;

}
